@using BzsHomePage.Web.Components.Comps
@inherits LayoutComponentBase




<div
    class="relative flex size-full h-screen flex-col gap-2 bg-gradient-to-br from-slate-400 to-slate-300 text-white bg-center bg-cover">
    <!-- 背景图模糊层 -->
    <SideBar/>
    <main>
        @Body
    </main>
</div>






<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>