@using BzsHomePage.Web.Components.Comps
@inherits LayoutComponentBase



<div class="bg-gradient-to-br absolute -z-10 h-screen w-screen from-slate-400 to-slate-300 bg-cover bg-center"></div>

<div class="z-10 flex h-screen w-screen flex-col gap-12 overflow-y-scroll px-8 py-4 text-white">
    <SideBar @ref="_sideBar" />

    <main class="flex-100 pb-4">
        <RenderTemplate>
            <CascadingValue Value="_sideBar" Name="bar">
                @Body
            </CascadingValue>
        </RenderTemplate>
    </main>
</div>


<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>


@code {

    private SideBar? _sideBar;

}