<header class="flex h-18 flex-row gap-2 px-8 py-4">
    <div
        class="m-0 flex flex-1 items-center justify-center rounded-2xl bg-slate-200 object-center text-center shadow-lg inset-shadow-xs shadow-slate-800/30 inset-shadow-slate-100/30 backdrop-blur-xl text-shadow-slate-700">
        <h1 class="text-xl text-slate-700">BREEZESEA</h1>
    </div>
    <BzsButton LabelType="LabelType.Text" Text="+" text-class="text-xl text-black" class="aspect-square h-full rounded-full"/> 
</header>